*, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 99vw;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
}

p {
  padding: 0;
  margin: 0;
}

header {
  height: 5vh;
}

header ul {
  float: right;
}

.container {
  display: block;
  height: 80vh;
  max-width: 500px;
  padding: 0;
  margin: auto;
}

.main {
  position: relative;
  top: 30%;
  margin: auto;
}

.main img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  background: #fff;
  opacity: 0.8;
}

button {
  width: 150px;
  opacity: 0.6;
  cursor: pointer;
}

button.first {
  margin-left: 100px;
  margin-right: 20px;
}

.under {
  position: relative;
  background: #dadada;
  width: 100%;
  height: 5vh;
  padding-top: 5px;
  padding-left: 10px;
  opacity: 0.6;
}

footer {
  position: relative;
  background: #dadada;
  color: #000;
  width: 100%;
  height: 5vh;
  padding-top: 5px;
  padding-left: 10px;
  opacity: 0.6;
}

footer ul.left {
  float: left;
}

footer ul.right {
  float: right;
}