* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: rgb(72, 72, 72);
  font-size: 15px;
}

a {
  text-decoration: none;
  color: rgb(118, 118, 118);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

footer {
  max-width: 1080px;
  padding: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0px auto;
}

.listas {
  display: flex;
  justify-content: space-between;
}

.listas ul li {
  margin-bottom: 5px;
}

h4 {
  padding-bottom: 1rem;
}

.badge {
  background-color: rgb(0, 106, 112);
  border-radius: 4px;
  padding: 2px 6px;
  margin-left: 5px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33333em;
  color: rgb(255, 255, 255);
}

.copy {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  align-content: center !important;
}

.copy-text {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  vertical-align: center;
}

.left {
  display: flex;
  flex: 1 1 auto !important;
}

.logo-gray {
  display: inline-flex !important;
  align-self: center !important;
}

.lista-footer {
  display: inline;
}

.lista-footer li {
  display: inline-block;
}

.right {
  display: flex;
}

._1oznos1 {
  display: inline-block !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  vertical-align: middle !important;
}